otp verification.json
{
  "name": "otp verification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "otp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        0
      ],
      "id": "1f9d10f0-c37e-41dd-aa3e-e88c430f6e39",
      "name": "Webhook",
      "webhookId": "67f9ec64-5181-45aa-81e2-92ff43f38588"
    },
    {
      "parameters": {
        "jsCode": "// Generate a 6-digit random OTP\nconst otp = Math.floor(100000 + Math.random() * 900000);\n\nreturn [\n  {\n    json: {\n      otp: otp,\n      message: `Your OTP is ${otp}`,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "f5f61280-5099-40c6-868d-75ab6a5c47b4",
      "name": "Code"
    },
    {
      "parameters": {
        "sendTo": "234g1a3354@srit.ac.in",
        "subject": "ur otp code",
        "message": "=your otp code : {{ $json[\"otp\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        0
      ],
      "id": "178c8806-8d78-4b93-b7d2-6ea9cdb389d1",
      "name": "Send a message",
      "webhookId": "98eda6d1-9b72-4dc5-b6fd-b9093ac85a03",
      "credentials": {
        "gmailOAuth2": {
          "id": "3FYHn9gHcJE79n0h",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf6ff05e-8023-46a9-b80a-7a39304122e7",
              "name": "otp",
              "value": "={{ Math.floor(100000 + Math.random() * 900000) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "5065b389-89f2-44a0-b7e3-47649e9c3ada",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.45.0",
            "accept": "*/*",
            "postman-token": "1fd985fa-418c-4f0c-b87a-c1d812bf80ee",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "37"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "testuser@gmail.com"
          },
          "webhookUrl": "http://localhost:5678/webhook-test/otp",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a72ca6c2-8f9b-4311-be55-bf5f4bfe78f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c4a8c4b35e6c0eeab6113df27d6d9adbd9568ac05f7fbf17834ef70c23a1e508"
  },
  "id": "JB8Om2xX7K1w6kKL",
  "tags": []
}